{
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
    },

    "extends": "eslint:recommended",

    "rules": {
        "indent": ["off", "tab"],
        "no-mixed-spaces-and-tabs": ["off", "smart-tabs"],
        "linebreak-style": ["error", "windows"],
        "quotes": ["off", "single"],
        "semi": ["error", "always"],
        "no-unused-vars": ["off"]
    }
}